extends layout

block content
  h1= title

  if (toShow == null)
    h2 No instance to delete
  else
    - let fanid = toShow._id
    - let fanBrand = toShow.Brand
    - let fanprice = toShow.price
    - let fancolor = toShow.color
    - let actionid = "/resource/fan/" + fanid

    script let actionid = "#{actionid}"
    div
      div.row
        div(class='fanAttr mr-3') fan ID is:
        div(class='newAttr') #{fanid}
      div.row
        div(class='fanAttr mr-3') fan Brand is:
        div(class='newAttr') #{fanBrand}
      div.row
        div(class='fanAttr mr-3') fan price is:
        div(class='newAttr') #{fanprice}
      div.row
        div(class='fanAttr mr-3') fan color is:
        div(class='newAttr') #{fancolor}
      

    button(class="btn btn-danger m-2" onclick="deleteOnid()") Delete
    button(class="btn btn-secondary m-2" onclick="cancel()") Cancel

  script.
    function cancel() {
      // Go back to the home page for the costume collection
      window.location.href='/fan'
    }
  script.
    function deleteOnid() {
      console.log("Deleting the Resource")
      // delete first
      fetch(actionid, {
        method: 'DELETE'      // Don't need a body for the delete
      }).then((resp) => {
        return resp.json();   // or resp.text() or whatever the server sends
      }).then((body) => {
        alert("Delete succeded")
        window.location.href='/fan'
        // TODO handle body
      }).catch((error) => {
        // TODO handle error
        alert("Delete failed " + error )
      });
    }