extends layout

block content
  h1(id="titlestyle")= title

  if (toShow == null)
    h2 No instance to delete
  else
    - let fanid = toShow._id
    - let fanBrand = toShow.Brand
    - let fanprice = toShow.price
    - let fancolor = toShow.color

    div
      div.row
        div(class='fanAttr mr-3') fan ID is:
        div(class='variety stylesheetnew') #{fanid}
      div.row
        div(class='fanAttr mr-3') fan Brand is:
        div(class="variety") #{fanBrand}
      div.row
        div(class='fanAttr mr-3') fan price is:
        div(class="variety") #{fanprice}
      div.row
        div(class='fanAttr mr-3') fan color is:
        div(class="variety") #{fanprice}
    